* ::before,
* ::after,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: Inter;
  src: url(./assets/fonts/InterVariable-s.p.494bb210.ttf)format("woff2");
  font-display: swap;
}



body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  background-image: url(/assets/images/bg-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


header {
  width: 100%;
  /* height: 64px; */
  padding: 16px 0px 24px 0px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  top: 0;
  backdrop-filter: blur(50%);
  position: fixed;
  z-index: 50
}

.container {
  width: 100%;
  max-width: 60vw;
  margin: 0 auto
}


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  background-color: transparent;

}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0px;
  gap: 0px;

}

.navbar ul li {
  cursor: pointer;
  padding: 4px 12px;
}

.navbar ul li:hover {
  background-color: rgba(211, 211, 211, 0.072);
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  gap: 10px;

}

.nav-btn_sale {
  font-family: Inter;
  border-radius: 50px;
  border: none;
  box-shadow: none;
  color: #ffffff;
  padding: 4.5px 12px;
  background-color: rgba(211, 211, 211, 0.072);
  font-weight: 500;
  font-size: 12px;
}

.nav-btn_try {
  font-size: 12px;
  border-radius: 50px;
  font-family: Inter;
  border: none;
  box-shadow: none;

  padding: 4.5px 12px;
  font-weight: 500;
}


.svg-icon {
  width: 14px;
  height: 14px;

}

.main {
  width: 100%;
  margin: 0 auto;
  color: #edecec;
  /* padding: 60px 0px 96px; */

}

.hero-section {
  width: 100%;
  display: flex;
  padding: 80px 0px 96px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 4px 8px 4px 4px;
  background-color: rgba(12, 12, 12, 0.212);
  border-radius: 50px
}

.banner:hover {
  background-color: rgba(12, 12, 12, 0.082);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.banner span {
  font-size: 11px;
  padding: 2px 8px;
  background-color: #0C8C5E;
  border-radius: 50px;
  font-weight: 600;
}


.banner a {
  text-decoration: none;
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;
}

.banner-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.banner-heading h1 {
  margin: 32px 0px 0px;

  font-size: 48px;
}

.banner-heading p {
  font-size: 14px;
  margin: 14px 0px 0px 0px;
  color: #ffffff;

}


.search-bar {
  display: flex;
  position: relative;
  margin: 32px 0px 0px;

}

.search-bar input {
  width: 270px;
  border: none;
  font-size: 12px;
  padding: 12px;
  outline: none;
  border-radius: 50px;
  background-color: #ebebeb42;
  backdrop-filter: blur(3px);
  box-shadow: inherit;
  color: #ffffff;
  font-family: Inter;
  font-weight: 500;
}

.search-bar input::placeholder {
  color: #ffffff;
}


.search-bar button {
  position: absolute;
  right: 5px;
  font-family: Inter;
  bottom: 6px;
  border: none;
  box-shadow: none;
  background-color: #ffffff;
  padding: 6px 12px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 12px;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 80px 0px 0px 0px;


}

.hero-img img {
  border-radius: 24px;
  width: 900px;
  -webkit-mask-image: linear-gradient(#000 0%, rgba(0, 0, 0, .99) 18.5%, rgba(0, 0, 0, .953) 34.3%, rgba(0, 0, 0, .894) 47.6%, rgba(0, 0, 0, .824) 58.5%, rgba(0, 0, 0, .74) 67.5%, rgba(0, 0, 0, .647) 74.7%, rgba(0, 0, 0, .55) 80.3%, rgba(0, 0, 0, .45) 84.7%, rgba(0, 0, 0, .353) 88%, rgba(0, 0, 0, .26) 90.5%, rgba(0, 0, 0, .176) 92.5%, rgba(0, 0, 0, .106) 94.2%, rgba(0, 0, 0, .047) 95.9%, rgba(0, 0, 0, .01) 97.7%, transparent 100%);
  mask-image: linear-gradient(#000 0%, rgba(0, 0, 0, .99) 18.5%, rgba(0, 0, 0, .953) 34.3%, rgba(0, 0, 0, .894) 47.6%, rgba(0, 0, 0, .824) 58.5%, rgba(0, 0, 0, .74) 67.5%, rgba(0, 0, 0, .647) 74.7%, rgba(0, 0, 0, .55) 80.3%, rgba(0, 0, 0, .45) 84.7%, rgba(0, 0, 0, .353) 88%, rgba(0, 0, 0, .26) 90.5%, rgba(0, 0, 0, .176) 92.5%, rgba(0, 0, 0, .106) 94.2%, rgba(0, 0, 0, .047) 95.9%, rgba(197, 195, 195, 0.01) 97.7%, transparent 100%)
}


.trusted-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 72px 32px 144px;
  background-color: #ffffff;
  gap: 60px;
}


.company-logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1);
  gap: 20px;
  width: 100%;
  max-width: 60vw;
  margin: 0 auto;
}

.img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 64px;
}